# dependencies
node_modules/
.yarn/install-state.gz

# custom config files
.yarnrc.yml

# environment variables
.env*
!.env.example

# turbo
.turbo

# build
dist
.astro

# prisma
*.db*
**/generated/**/*

# TypeScript incremental compilation
*.tsbuildinfo

# coverage
coverage
.husky/_
