---
import { ForgotPasswordContainer } from '~/features/auth'
import Main from '~/layouts/Main.astro'
---

<Main title='Forgot Password'>
  <section class='container mx-auto px-4 py-8'>
    <h1 class='mb-8 text-center text-4xl font-bold text-zinc-100'>Forgot Password</h1>
    <ForgotPasswordContainer client:load />
  </section>
</Main>
