---
import { ResetPasswordContainer } from '~/features/auth'
import Main from '~/layouts/Main.astro'

const token = Astro.url.searchParams.get('token')
---

<Main title='Reset Password'>
  <section class='container mx-auto px-4 py-8'>
    <h1 class='mb-8 text-center text-4xl font-bold text-zinc-100'>Reset Password</h1>
    <ResetPasswordContainer client:load token={token} />
  </section>
</Main>
